[submodule "bsp"]
	path = submodule/esp-mosaico-bsp
	url = https://github.com/esp-mosaico/esp-mosaico-bsp
[submodule "submodule/esp-mosaico-tools"]
	path = submodule/esp-mosaico-tools
	url = https://github.com/lisir233/esp-mosaico-tools.git
