[submodule "bsp"]
	path = submodule/esp-mosaico-bsp
	url = https://github.com/esp-mosaico/esp-mosaico-bsp
[submodule "submodule/esp-mosaico-utils"]
	path = submodule/esp-mosaico-utils
	url = git@github.com:esp-mosaico/esp-mosaico-utils.git
